<h3>These are ALL of the dinos that we can GET</h3>
<a href="/dinosaurs/new"> Add a Dino!</a>
<ul>
  <% dinosaurs.forEach( function(dinosaur, i) { %>
    <li> <a href="/dinosaurs/<%= i %>" ><%= dinosaur.name %></a></li>
  <% }); %>
</ul>